<a href="https://colab.research.google.com/github/Rvd001/Hamoye/blob/master/Q2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn import metrics

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

## **Checking the top 5 records**

In [2]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [3]:
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression 
from sklearn.preprocessing import MinMaxScaler



df.drop(['date'], axis = 1, inplace = True)
df.drop(['lights'], axis = 1, inplace = True)


scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
features_df = normalised_df.drop(columns=[ 'Appliances' ])
target = normalised_df[ 'Appliances' ]

## **Train Test Split**

In [4]:

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_df, target, test_size= 0.3 , random_state= 42 )

## **Linear Regression**

In [5]:
linear_reg = LinearRegression()  
linear_reg.fit(x_train, y_train)

predicted_varibles = linear_reg.predict(x_test)

## **Mean Absolute Error**

In [6]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_varibles)
round(mae, 3)

0.05

## **Residual Sum of square**

In [15]:

y_test6 =np.array(y_test)
predicted_variables6= np.array(predicted_varibles)
rss = np.sum(np.square(y_test6 - predicted_variables6))
round(rss,3)

45.348

## **Root Mean Squared Error**

In [8]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_varibles))
round(rmse, 3)

0.088

## **R-Squared**

In [9]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_varibles)
round(r2_score, 3)

0.149

## **Ridge Regression**

In [ ]:
# Ridge Regression
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha= 0.001 )
ridge_reg.fit(x_train, y_train)

## **Lasso Regression**

In [16]:
# Feature Selection and Lasso Regression
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha= 0.001 )
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [10]:

#comparing the effects of regularisation
def get_weights_df(model, feat, col_name) :
#this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = [ 'Features' , col_name]
    weights_df[col_name].round(3)
    return weights_df

linear_model_weights = get_weights_df(linear_reg, x_train, 'Linear_Model_Weight' )
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_Weight' )
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight' )

final_weights = pd.merge(linear_model_weights, ridge_weights_df, on= 'Features' )
final_weights = pd.merge(final_weights, lasso_weights_df, on= 'Features' )

final_weights

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0          RH_2            -0.456698     -0.456570     -0.000000
1         T_out            -0.321860     -0.321674      0.000000
2            T2            -0.236178     -0.236080      0.000000
3            T9            -0.189941     -0.189939     -0.000000
4          RH_8            -0.157595     -0.157594     -0.000110
5        RH_out            -0.077671     -0.077597     -0.049557
6          RH_7            -0.044614     -0.044617     -0.000000
7          RH_9            -0.039800     -0.039805     -0.000000
8            T5            -0.015657     -0.015669     -0.000000
9            T1            -0.003281     -0.003325      0.000000
10          rv1             0.000770      0.000770     -0.000000
11          rv2             0.000770      0.000770     -0.000000
12  Press_mm_hg             0.006839      0.006839     -0.000000
13           T7             0.010319      0.010318     -0.000000
14   Visibility             0.012307      0.012306      0.000000
15         RH_5             0.016006      0.016006      0.000000
16         RH_4             0.026386      0.026381      0.000000
17           T4             0.028981      0.028977     -0.000000
18    Windspeed             0.029183      0.029187      0.002912
19         RH_6             0.038049      0.038041     -0.000000
20         RH_3             0.096048      0.096045      0.000000
21           T8             0.101995      0.101993      0.000000
22    Tdewpoint             0.117758      0.117648      0.000000
23           T6             0.236425      0.236369      0.000000
24           T3             0.290627      0.290621      0.000000
25         RH_1             0.553547      0.553453      0.017880

In [11]:
final_weights.min()

Features               Press_mm_hg
Linear_Model_Weight      -0.456698
Ridge_Weight              -0.45657
Lasso_weight            -0.0495575
dtype: object

In [12]:
final_weights.max()

Features                     rv2
Linear_Model_Weight     0.553547
Ridge_Weight            0.553453
Lasso_weight           0.0178799
dtype: object

In [13]:
df.head()

   Appliances     T1       RH_1  ...  Tdewpoint        rv1        rv2
0          60  19.89  47.596667  ...        5.3  13.275433  13.275433
1          60  19.89  46.693333  ...        5.2  18.606195  18.606195
2          50  19.89  46.300000  ...        5.1  28.642668  28.642668
3          50  19.89  46.066667  ...        5.0  45.410389  45.410389
4          60  19.89  46.333333  ...        4.9  10.084097  10.084097

[5 rows x 27 columns]